@page "/"
<div class="jumbotron">
    @* Primera Fila (de 4) de 3 cards *@
    <div class="card-deck mb-3">
        @* Primer card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Antares.jpg" alt="Cohete Antares" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Segunda card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-OneSpace.webp" alt="Cohete OneSpace" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Tercera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Safir.jpg" alt="Cohete Safir" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>
    @* Fila 2 de cards *@
    <div class="card-deck mb-3">
        @* Primera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Ariane5.jpg" alt="Cohete Ariane 5" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Segunda card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Delta.jpg" alt="Cohete Delta" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Tercera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Falcon9.jpg" alt="Cohete Falcon 9" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>
    @* Fila 3 de cards *@
    <div class="card-deck mb-3">
        @* Primera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-GSLV.jpg" alt="Cohete GSLV" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Segunda card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Hayabusa.jpg" alt="Cohete Hayabusa" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Tercera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-LongMarch.jpg" alt="Cohete Long March" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>
    @* Fila 4 de cards *@
    <div class="card-deck mb-3">
        @* Primera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Proton.jpg" alt="Cohete Proton M" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Segunda card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Soyuz.jpg" alt="Cohete Soyuz" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
        @* Tercera card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Cohete-Vega.jpg" alt="Cohete Vega" width="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {
    @* Crear dos variables para el titulo y la descripción del card *@
    public string title_card = "Nombre del Cohete";
    public string content_card = "Agencia Espacial del Cohete";
    public string author_card = "Photo By: Black Photographer";
}